<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>DWES2324_ProblemasSencillos_PabloCalvo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Ejercicio1</display-name>
    <servlet-name>Ejercicio1</servlet-name>
    <servlet-class>com.pablo.controller.Ejercicio1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ejercicio1</servlet-name>
    <url-pattern>/Ejercicio1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ejercicio2</display-name>
    <servlet-name>Ejercicio2</servlet-name>
    <servlet-class>com.pablo.controller.Ejercicio2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ejercicio2</servlet-name>
    <url-pattern>/Ejercicio2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ejercicio3</display-name>
    <servlet-name>Ejercicio3</servlet-name>
    <servlet-class>com.pablo.controller.Ejercicio3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ejercicio3</servlet-name>
    <url-pattern>/Ejercicio3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ejercicio4</display-name>
    <servlet-name>Ejercicio4</servlet-name>
    <servlet-class>com.pablo.controller.Ejercicio4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ejercicio4</servlet-name>
    <url-pattern>/Ejercicio4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ejercicio5</display-name>
    <servlet-name>Ejercicio5</servlet-name>
    <servlet-class>com.pablo.controller.Ejercicio5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ejercicio5</servlet-name>
    <url-pattern>/Ejercicio5</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ejercicio6</display-name>
    <servlet-name>Ejercicio6</servlet-name>
    <servlet-class>com.pablo.controller.Ejercicio6</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ejercicio6</servlet-name>
    <url-pattern>/Ejercicio6</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ejercicio7</display-name>
    <servlet-name>Ejercicio7</servlet-name>
    <servlet-class>com.pablo.controller.Ejercicio7</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ejercicio7</servlet-name>
    <url-pattern>/Ejercicio7</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ejercicio8</display-name>
    <servlet-name>Ejercicio8</servlet-name>
    <servlet-class>com.pablo.controller.Ejercicio8</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ejercicio8</servlet-name>
    <url-pattern>/Ejercicio8</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ejercicio9</display-name>
    <servlet-name>Ejercicio9</servlet-name>
    <servlet-class>com.pablo.controller.Ejercicio9</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ejercicio9</servlet-name>
    <url-pattern>/Ejercicio9</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ejercicio10</display-name>
    <servlet-name>Ejercicio10</servlet-name>
    <servlet-class>com.pablo.controller.Ejercicio10</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ejercicio10</servlet-name>
    <url-pattern>/Ejercicio10</url-pattern>
  </servlet-mapping>
</web-app>